/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap');

/* font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive; */

body{
    margin: 0px;
}

p{
    font-family: 'Poppins', sans-serif;
}

.top-header{
    display: flex;
    margin: 0px 140px;
}

.left-section{
    margin-top: 100px;
}

.left-section, .right-section{
    width: 50%
}
.right-section img{
    width: 426px;
}

.left-section{
    padding-right: 100px;
}

.top-header h1{
    color: #333333;
    font-size: 60px;
    font-family: 'Yeseva One', cursive; 
    border-left: 4px solid #FF5959;
    padding-left: 20px;
    line-height: 80px;
}

.top-header h1 span{
    color: #FFAD5A;
}

p.bottom-h1{
    color:#3E3E3E;
    font-size: 18px;
}

.header-button{
    background-color: #FF5959;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
}

/* mission-vission-goal section style */
.mission-vision-goal{
    margin: 0px 140px;
}
.mission-vision-goal h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    margin-top: 60px;
}

.mission-vision-goal h2 span{
    color: #FFAD5A;
}

.total-three-box{
    display: flex;
}

.single-box{
    margin-right: 30px;
    border-radius: 10px;
    padding: 20px;
}

.single-box img{
    height: 126px;
    width: 126px;
}

.single-box h4{
    font-size: 24px;
}

.single-box p{
    color: #424242;
}

.mission{
    background-color: #4f9da636;
}

.vision{
    background-color: #ff595918;
}

.goal{
    background-color: #fff4d68e;
}

/* Develop Section Styles */
.develop-section{
    display: flex;
    padding: 80px 140px;
    align-items: center;
    background-image: url(images/shapes/shape-1.png);
    background-size: 227px;
    background-repeat: no-repeat;
    background-position: 50px 50%;
}

.left-develop{
    
}

.develop-section .left-develop img{
    height: 400px;
    width: 400px;
    margin-right: 100px;
}

.develop-section h2, .global-community h2{
    color: #333333;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

/* Community section style */
.global-community{
    display: flex;
    padding: 60px 140px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 97% 100%;
}

.right-community img{
    height: 400px;
    width: 400px;
    margin-left: 200px;
}

footer{
    background-color: #0B0D17;
}

footer h2{
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
    padding-top: 30px;
}

footer h2 span{
    color: #FF5959;
}

footer p{
    color: #D9DBE1;
    text-align: center;
    padding-bottom: 30px;
}